*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* RESET END*/

:root {
    --primary-magenta: hsl(300, 43%, 22%);
    --primary-soft_pink: hsl(333, 80%, 67%);

    --neutral-dark_grayish_magenta: hsl(303, 10%, 53%);
    --neutral-light_grayish-magenta: hsl(300, 24%, 96%);
    --neutral-white: hsl(0, 0%, 100%);
}

body {
    max-width: 58rem;
    margin: 0 auto;
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
}

main {
    margin: 1rem auto;
    max-width: 19rem;
    padding: 1rem;
}

.content_text h1 {
    color: var(--primary-magenta);
    text-align: center;
    font-size: 2rem;
    line-height: 0.8;
    margin-block: 1rem;
    font-weight: 700;
}

.content_text p {
    color: var(--neutral-dark_grayish_magenta);
    text-align: center;
    font-weight: 400;
}

.stars {
    background-color: var(--neutral-light_grayish-magenta);
    margin-block: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.five_stars {
    display: flex;
    justify-content: center;
    gap: 0.5rem;

}

.content h2 {
    color: var(--primary-magenta);
    font-size: 1rem;
    text-align: center;
    padding-top: 0.5rem;
    font-weight: 700;
}

.social_proof {
    margin-top: 2rem;;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.card {
    background-color: var(--primary-magenta);
    border-radius: 0.5rem;
    padding: 1.5rem;
    color: var(--neutral-white);
}

.reviewer {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.reviewer img {
    border-radius: 50%;
    width: 2rem;
}

.reviewer h3 {
    font-size: 0.8rem;
    color: var(--neutral-light_grayish-magenta);
}

.reviewer p {
    color: var(--primary-soft_pink);
    font-size: 0.8rem;
    font-weight: 500;
}

/*FOOTER*/
.attribution {
    font-size: 11px;
    text-align: center;
    margin-block: 1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* DESKTOP MODE */

@media only screen and (min-width: 600px)  {
 
    .main {
        max-width: unset;
    }

    .content {
        display: flex;
    }
    
    .content > * {
        flex: 1;
    }
    
    .content_text h1 {
        text-align: left;
    }
    
    .content_text p {
        text-align: left;
    }

    .social_proof {
        flex-direction: row;
    }

}